name: flutter_ugc_upload
description: flutter_ugc_upload 腾讯云点播文件上传插件
version: 0.0.2
homepage: https://github.com/miaozhenkun/flutter_ugc_upload

environment:
  sdk: ">=2.12.1 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.example.miao.flutter_ugc_upload
        pluginClass: FlutterUgcUploadPlugin
      ios:
        pluginClass: FlutterUgcUploadPlugin